<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<link rel="icon" href="images/book.ico">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<head>
    <title>Магазин</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="flex-container2" style= "height: 100%">
        <div style="min-width: 30%; height: 600px; display: flex; justify-content: center; align-items: center">
            <div style="display: flex; flex-direction: column ;">
                <a class="nav-link" style="color: black; font-size: 25px;" href="/shop/classic">Классический кофе</a>
                <a class="nav-link" style="color: black; font-size: 25px;" href="/shop/flavored">Ароматизированный кофе</a>
                <a class="nav-link" style="color: black; font-size: 25px;" href="/shop/instant">Растворимый кофе</a>
                <a class="nav-link" style="color: black; font-size: 25px;" href="/shop/capsules">Капсулы</a>
            </div>
        </div>
        <div class="flex-container3">
            <form action="#" th:each="coffee : ${coffee}" method="post" style="text-align: center; background: cadetblue;
                margin: 10px; padding: 5px; height: 480px;">
                <table>
                    <tr>
                        <td>
                            <a th:href="@{'/shop/'+${coffee.sort}+'/get/'+${coffee.name}}">
                                <img th:src="*{coffee.image}" class="shop-img">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <h3 th:text="*{coffee.name}"></h3>
                    </tr>
                    <tr>
                        <td>
                            <h4>
                                <span th:text="*{coffee.price}"></span> &#8381; / <span th:text="*{coffee.weight}"></span> г
                            </h4>
                        </td>
                    </tr>
                    <tr th:switch="${coffee.quantity}">
                        <td th:case="0"><h4 style="color: #b80000; margin-top: 20px">Нет товара</h4></td>
                        <td th:case="*">
                            <a th:href="@{'/shop/'+${coffee.sort}+'/add/'+${coffee.name}}" class="button">
                                Купить
                            </a>
                        </td>
                    </tr>
                    <div th:if="${product == coffee.name}">
                        <tr th:if="${purchase}">
                            <td><h6>ДОБАВЛЕН В КОРЗИНУ</h6></td>
                        </tr>
                    </div>
                </table>
            </form>


        </div>
    </div>

    <div th:insert="blocks/footer :: footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>